@import 'utils/reset';
@import 'utils/libs';
@import 'utils/fonts';

:root{
  font-size: 10px;
}
.personal-area{
  padding: 140px 0 0 0;
  &__profile{
    &__description{
      display: flex;
      margin:40px 0 0 0;
      img{
        width: 240px;
        height: 240px;
        object-fit: cover;
        margin: 0 120px 0 0;
      }
      &__info{
        display: flex;
        flex-direction: column;
        &__name{
          display: flex;
          h2{
            font-size: 3.6rem;
            font-weight: 700;
            margin:0;
          }
          svg{
            margin:auto 10px;
          }
          p{
            font-size: 1.4rem;
            font-weight: 400;
            margin:auto 0 0 0;
            color:#5C5C5C;
          }
        }
        &__text{
          p{
            margin:22px 0 0 0;
            font-weight: 400;
            font-size: 1.6rem;
          }
        }
        &__sub{
          display: flex;
          p{
            font-weight: 600;
            font-size: 1.6rem;
            margin:22px 20px 0 0;
            span{
              margin:0 0 0 5px;
            }
          }
        }
      }
      &__icons{
        margin:0 0 0 auto;
        svg{
          margin:0 0 0 40px;
        }
      }
    }
  }
}