@import 'utils/reset';
@import 'utils/libs';
@import 'utils/fonts';

:root{
  font-size: 10px;
}
.main{
  padding: 40px 0 0 0;
}
.main-first{
  padding: 140px 0 0 0;
}
.personal-area{
  padding: 140px 0 0 0;
  &__profile{
    &__description{
      display: flex;
      margin:40px 0 0 0;
      img{
        width: 240px;
        height: 240px;
        object-fit: cover;
        margin: 0 120px 0 0;
      }
      &__info{
        display: flex;
        flex-direction: column;
        &__name{
          display: flex;
          h2{
            font-size: 3.6rem;
            font-weight: 700;
            margin:0;
          }
          svg{
            margin:auto 10px;
          }
          p{
            font-size: 1.4rem;
            font-weight: 400;
            margin:auto 0 0 0;
            color:#5C5C5C;
          }
        }
        &__text{
          p{
            margin:22px 0 0 0;
            font-weight: 400;
            font-size: 1.6rem;
          }
        }
        &__sub{
          display: flex;
          p{
            font-weight: 600;
            font-size: 1.6rem;
            margin:22px 20px 0 0;
            span{
              margin:0 0 0 5px;
            }
          }
        }
      }
      &__icons{
        margin:0 0 0 auto;
        svg{
          margin:0 0 0 40px;
        }
      }
    }
  }
  &__menu{
    margin: 88px 0 0 0;
    ul{
      padding: 0;
      display: flex;
      li{
        a{
          text-decoration: none;
          color:#5C5C5C;
          display: inline-block;
          position: relative;
          font-size: 2.4rem;
          font-weight: 400;
          padding: 0 0 5px 0;
          margin:0 40px 0 0;
        }
        a:after {
          position: absolute;
          content: "";
          width: 0;
          height: 2px;
          bottom: 0;
          left: 0;
          right: 0;
          background: #000;
          transition: all 1s;
        }
      }
    }
  }
  &__galery,&__collection{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin:30px 0 0 0;
    &__unit{
      display: flex;
      flex-direction: column;
      margin: 0 auto 0 0;
      a{
        display: block;
        height: 460px;
        width: 460px;
        img{
          height: 460px;
          width: 460px;
          object-fit: cover;

        }
      }
      &__description{
        margin:14px 0 10px 0;
        display: flex;
        justify-content: space-between;
        p{
          margin: 0;
          font-weight: 700;
          font-size: 1.8rem;
        }
        &__stats{
          display: flex;
          &__views,&__likes{
            display: flex;
            p{
              font-size:1.4rem;
              font-weight:500;
              margin:auto 0;
            }
            svg{
              margin:auto 5px auto 30px;
            }
          }
        }
      }
    }
  }
}
.personal-area__settings{
  display: flex;
  justify-content: space-between;
  padding: 140px 0 0 0;
  img{
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
  &__area{
    display: flex;
    flex-direction: column;
    margin:0 100px;
    flex:1;
    h2{
      font-size: 2.4rem;
      font-weight: 700;
      margin: 0 0 22px 0;
    }
    &__profile{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      &__personal-information{
        padding: 0 0 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__input-simple,&__interests,.simple-input{
          width: 47%;
          margin:0 0 25px 0;
          p{
            font-size: 1.2rem;
            font-weight: 300;
            margin: 0 0 0 10px;
          }
          input{
            font-size: 1.6rem;
            font-weight: 400;
            padding: 12px 10px;
            border:1px solid #5C5C5C;
            width: 100%;
          }
          input::placeholder{
            color:#000;
          }
        }
        &__text-area{
          width: 100% !important;
          position: relative;
          margin:0 0 15px 0 !important;
          p{
            font-size: 1.2rem;
            font-weight: 300;
            margin: 0 0 0 10px;
          }
          textarea{
            font-size: 1.6rem;
            font-weight: 400;
            padding: 12px 10px;
            border:1px solid #5C5C5C;
            width: 100%;
            height: 80px;
            resize: none;
            box-sizing: border-box;
          }
          textarea::placeholder{
            color:#000;
          }
          div{
            position: relative;
            float:right;
            width: auto;
            margin:0;
            p{
              font-weight: 300;
              font-size: 1.2rem;
            }
          }
        }
        &__interests{
          width: 100% !important;
        }

      }
    }
    &__account{
      &__personal-information{
        padding:0 0 0 20px;
        &__input-simple{
          display: flex;
          justify-content: space-between;
          .simple-input{
            width: 47%;
            margin:0 0 25px 0;
            p{
              font-size: 1.2rem;
              font-weight: 300;
              margin: 0 0 0 10px;
            }
            input{
              font-size: 1.6rem;
              font-weight: 400;
              padding: 12px 10px;
              border:1px solid #5C5C5C;
              width: 100%;
            }
            input::placeholder{
              color:#000;
            }
          }
          .input-button{
            width: 47%;
            margin:33px 0 auto 0;
            a{
              box-sizing: border-box;
              font-size: 1.4rem;
              font-weight: 600;
              border: 2px solid #000;
              padding: 13px 14px;
              text-decoration: none;
              background: none;
              color:#000;
              transition: 0.5s ease;
            }
            a:hover{
              color:#fff;
              background: #000;
              transition: 0.5s ease;
            }
          }
          .simple-select{
            select{
              font-size: 1.6rem;
              font-weight: 400;
              padding: 12px 10px;
              border:1px solid #5C5C5C;
              width: 100%;
              option{
                font-weight:400;
                font-size: 1.8rem;
              }
            }
          }
        }
        &__input-radio{
          display: flex;
          flex-direction: column;
          h3{
            font-weight: 700;
            font-size: 1.6rem;
          }
          .inputs-radio{
            margin:24px 0 0 0;
            display: flex;
            input{
              height: 20px;
              width: 20px;
              margin:auto 0;
            }
            label{
              font-size: 1.6rem;
              font-weight: 400;
              margin: 0 0 0 10px;
              color:#000;
            }
          }
        }
        &__delete-button{
          margin:36px 0 0 0;
          a{
            box-sizing: border-box;
            border: 2px solid #5C5C5C;
            color:#5C5C5C;
            padding: 13px 48px;
            text-decoration: none;
            background: none;
            transition: 0.5s ease;
            font-size: 1.4rem;
            font-weight: 600;
          }
          a:hover{
            background: #5C5C5C;
            color:#fff;
            transition: 0.5s ease;
          }
        }
      }
    }
  }
  &__menu{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    height: 100%;
    ul{
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      li{
        margin:12px 0;
        a{
          padding:12px 40px 12px 20px;
          color:#5C5C5C;
          font-weight: 400;
          font-size: 1.6rem;
          transition: 0.5s ease;
          text-decoration: none;
          border-left:2px solid #fff;
        }
        a:hover,.active__personal-area__settings__menu{
          color:#000;
          transition: 0.5s ease;
          border-left:2px solid #000;
          box-sizing: border-box;
        }
      }
    }
    &__button{
      a{
        background: #000;
        color:#fff;
        font-weight: 400;
        font-size: 1.4rem;
        padding: 13px 40px;
        text-decoration: none;
        border: 2px solid #000;
        transition: 0.5s ease;
        display: block;
        text-align: center;
      }
      a:hover{
        background: none;
        color:#000;
        border: 2px solid #000;
        transition: 0.5s ease;
      }
    }
  }
}
.cart{
  padding: 140px 0 0 0;
  display: flex;
  justify-content: space-between;
  &__contents{
    flex:1;
    display: flex;
    flex-direction: column;
    h2{
      font-size: 3.2rem;
      font-weight: 700;
      margin:20px 0 0 0;
    }
    &__unit{
      display: flex;
      justify-content: space-between;
      margin:36px 0 0 0;
      a{
        display: block;
        img{
          width: 240px;
          height: 240px;
          object-fit: cover;
        }
      }
      &__description{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:20px 0 0 0;
        h3{
          font-size: 2.4rem;
          font-weight: 700;
        }
        h4{
          font-size: 1.6rem;
          font-weight: 400;
        }
        &__license{
          display: flex;
          span{
            font-size: 1.6rem;
            font-weight: 700;
            margin:auto 15px auto 0;
          }
          svg{
            margin:auto 0;
          }
        }
        p{
          font-size: 1.6rem;
          font-weight: 400;
          margin:0;
        }
        a{
          width: 40px;
          height: 40px;
          margin:25px 0 0 0;
        }
      }
      &__price{
        p{
          font-weight: 400;
          font-size: 1.4rem;
          padding: 13px 44px;
          border: 1px solid #000;
          cursor: default;
        }
      }
    }
  }
  &__inf{
    display: flex;
    flex-direction: column;
    margin:20px 0 0 150px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    height: 100%;
    a{
      display: block;
      font-size: 1.4rem;
      font-weight: 400;
      background: #000;
      box-sizing: border-box;
      border: 1px solid #000;
      color: #fff;
      transition: 0.5s ease;
      padding: 13px 85px;
      text-decoration: none;
    }
    a:hover{
      background: #fff;
      color:#000;
      transition: 0.5s ease;
    }
    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      margin:0;
      li{
        padding: 20px;
        h3{
          font-size: 2.4rem;
          font-weight: 700;
        }
        p{
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      li:last-child{
        flex: 1;
      }
    }
  }
}
.collection{
  padding: 180px 0 0 0;
  &__header{
    display: flex;
    justify-content: space-between;
    margin:0 0 36px 0;
    h2{
      font-size: 3.2rem;
      font-weight: 700;
    }
    svg{
      margin: auto 0 auto 40px;
    }
  }
  &__description{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    img{
      height: 240px;
      width: 240px;
      object-fit: cover;
    }
    &__text-block{
      margin:0 0 0 10%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h3{
        font-size: 2.4rem;
        font-weight: 700;
        margin:0 0 23px 0;
      }
      p{
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0 0 38px 10px;
        line-height: 16px;
      }
      .menu__first-block__user-profile{
        margin:0 0 0 10px;
      }
      &__tags{
        display: flex;
        justify-content: flex-start;
        margin:auto 0 0 10px;
        a{
          font-weight: 400;
          font-size: 1.6rem;
          background: #ECECEC;
          padding: 7px 10px;
          color:#5C5C5C;
          margin: 0 20px 0 0;
          text-decoration: none;
        }
        a:hover{
          color:#000;
        }
      }
    }
  }
}
.auth,.reg{
  background: url('../../assets/img/testImg4.png'), no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  &__block{
    position: absolute;
    z-index: 10;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h3{
      font-size: 2.4rem;
      font-weight: 800;
      background: #000;
      color:#fff;
      text-align: center;
      padding: 13px 0;
      margin:0 0 20px 0;
    }
    &__form{
      background: #fff;
      padding: 30px;
      h2{
        color:#000;
        font-weight: 700;
        font-size: 3.2rem;
        margin:0 0 21px 0;
      }
      &__input{
        margin:0 0 25px 0;
        p{
          font-size: 1.2rem;
          font-weight: 300;
          margin:0 0 0 10px;
        }
        input{
          font-size: 1.6rem;
          font-weight: 400;
          padding: 12px 10px;
          border:1px solid #5C5C5C;
          width: 100%;
        }
        input::placeholder{
          color:#000;
        }
      }
      &__auth-button{
        margin:0 0 28px 0;
        a{
          background: #000;
          color: #fff;
          text-align: center;
          display: block;
          padding: 13px 170px;
          text-decoration: none;
          transition: 0.5s ease;
          border: 2px solid #000;
          font-weight: 400;
          font-size: 1.4rem;
          box-sizing: border-box;
        }
        a:hover{
          transition: 0.5s ease;
          background: none;
          color:#000;
        }
      }
      &__sn{
        p{
          font-size: 1.4rem;
          font-weight: 700;
          margin:0 0 8px 0;
        }
        &__icons{
          display: flex;
          justify-content: space-between;
          a{
            background: #ECECEC;
            color: #5C5C5C;
            font-size: 1.6rem;
            font-weight: 400;
            padding: 12px 0;
            width: 100px;
            display: block;
            text-decoration: none;
            text-align: center;
          }
          a:hover{
            color: #000;
          }
        }
      }
      &__reg-button{
        margin: 20px 0 0 0;
        a{
          background: none;
          color: #000;
          text-align: center;
          display: block;
          padding: 13px 170px;
          text-decoration: none;
          transition: 0.5s ease;
          border: 2px solid #000;
          font-weight: 400;
          font-size: 1.4rem;
          box-sizing: border-box;
        }
        a:hover{
          transition: 0.5s ease;
          background: #000;
          color:#fff;
        }
      }
    }
  }
}


.auth{
  &__block{
    &__form{
      display: none;
    }
  }
}
@media (max-width:1440px){
  .auth__block__form__reg-button a, .reg__block__form__reg-button a,.auth__block__form__auth-button a, .reg__block__form__auth-button a{
    padding: 13px 130px;
  }
  .auth__block__form__reg-button, .reg__block__form__reg-button{
    margin:20px 0 0 0;
  }
  .auth__block__form, .reg__block__form{
    padding: 20px;
  }
}
@media (max-width:541px){
  .personal-area{
    &__profile{
      &__description{
        margin:0;
        img{
          width: 100px;
          height: 100px;
          margin:auto 0;
        }
        &__info{
          margin:auto 0 auto 10px;
          &__name{
            h2{
              font-size: 2.0rem;
            }
          }
          &__text{
            p{
              font-size: 1.2rem;
            }
          }
          &__sub{
            p{
              font-size: 1.2rem;
            }
          }
        }
        &__icons{
          margin:auto 0 auto auto;
          a{
            display: block;
            margin:8px 0;
            svg{
              margin:0 0 0 auto;
            }
          }
        }
      }
    }
    &__menu{
      margin:30px 0 0 0;
      ul{
        li{
          a{
            font-size: 1.8rem;
            margin:0 15px 0 0;
          }
        }
      }
    }
    &__galery,&__collection{
      margin:20px 0 0 0;
      &__unit{
        a{
          height: auto;
          width: 100%;
          img{
            height: auto;
            width: 100%;
          }
        }
      }
    }
    &__settings{
      display: flex;
      flex-direction: column;
      justify-content: center;
      a{
        display: block;
        margin:0 auto 10px auto;
        text-align: center;
      }
      &__area{
        margin: 0;
        &__profile{
          &__personal-information{
            padding: 0;
          }
        }
        &__account{
          &__personal-information{
            padding: 0;
            &__input-simple{
              .input-button{
                margin:17px 0 auto 0;
              }
            }
          }
        }
      }
    }
  }
  .collection{
    padding: 140px 0 0 0;
    &__header{
      h2{
        font-size: 2.0rem;
        margin:auto 0;
      }
      &__icons{
        svg{
          margin: auto 0 auto 20px;
        }
      }
    }
    &__description{
      display: flex;
      flex-direction: column;
      width: 100%;
      img{
        margin: 0 auto;
      }
      &__text-block{
        margin:0;
        h3{
          margin:20px 0 20px 0;
          font-size: 1.8rem;
        }
        p{
          font-size: 1.4rem;
          margin: 0 0 38px 0;
        }
        &__tags {
          flex-wrap: wrap;
          margin:0;
          a{
            margin:0 10px 10px 0;
          }
        }
      }
    }
  }
  .cart{
    display: flex;
    flex-direction: column;
    &__contents{
      &__unit{
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid rgba(92, 92, 92, 0.5);
        margin:15px 0 0 0;
        a{
          margin:0 auto;
          img{
            width: 120px;
            height: 120px;
            object-fit: cover;
          }
        }
        &__description{
          margin:10px 0;
          h3{
            font-size: 1.6rem;
          }
          p{
            font-size: 1.2rem;
          }
          &__license{
            span{
              font-size: 1.2rem;
            }
          }
          a{
            margin:10px auto 0 auto;
          }
        }
        &__price{
          margin: 0 auto;
          p{
            display: block;
          }
        }
      }
    }
    &__inf{
      margin:20px 0;
      a{
        text-align: center;
      }
    }
  }
  .auth,.reg{
    &__block{
      h3{
        margin: 0;
      }
      &__form{
        h2{
          font-size: 2.4rem;
        }
        &__input{
          input{
            font-size: 1.2rem;
            padding: 8px 6px;
          }
        }
        &__auth-button,&__reg-button{
          a{
            padding: 8px 0;
            width: 100%;
          }
        }
        &__sn{
          &__icons{
            a{
              padding: 12px 20px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width:374px){
  .personal-area {
    &__profile {
      &__description {
        margin: 0;

        img {
          width: 80px;
          height: 80px;
          margin: auto 0;
        }

        &__info {
          margin: auto 0 auto 10px;

          &__name {
            h2 {
              font-size: 1.6rem;
            }
          }

          &__text {
            p {
              margin:10px 0 0;
              font-size: 1.0rem;
            }
          }

          &__sub {
            p {
              font-size: 1.0rem;
            }
          }
        }
      }
    }
  }

}
