.menu
    .menu__first-block
        a.menu__first-block__logo
            p Era
        .menu__first-block__description
            p Лента
        .menu__first-block__search-box#inputActive
            input#inputActivator(
                type='text'
                placeholder='Search for something beautiful'
            )
            .menu__first-block__search-box__short#helperActive
                .menu__first-block__search-box__short__unit
                    h3 Недавно искали
                    .menu__first-block__search-box__short__unit__tags
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                .menu__first-block__search-box__short__unit
                    h3 Популярные запросы
                    .menu__first-block__search-box__short__unit__tags
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                .menu__first-block__search-box__short__unit
                    h3 Популярные темы
                    .menu__first-block__search-box__short__unit__tags
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                .menu__first-block__search-box__short__unit
                    h3 Популярные коллекции
                    .menu__first-block__search-box__short__unit__tags
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
                        p Wallpapers
        .menu__first-block__burger
            .menu__first-block__burger__button
                input.menu__first-block__burger__button__cheeckbox#burgerActivator(
                    type="checkbox"
                )
                div
                    span
                    span
            .menu__first-block__burger__block#burgerActive
                .menu__first-block__burger__block__icons
                    .menu__first-block__burger__block__icons__notification.menu__first-block__notification#notification-activator-mini
                        a(href='#')
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"/><path d="M2 19H22M5 19V9C5 5.134 8.134 2 12 2C15.866 2 19 5.134 19 9V19H5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 22C13.3807 22 14.5 20.8807 14.5 19.5V19H9.5V19.5C9.5 20.8807 10.6193 22 12 22Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            .notification-alert
                                span 1
                        .menu__first-block__notification__modal-mini#notification-modal-mini
                            p Количество новых подписчиков:
                            p Количество новых оценок:
                            p Количество новых комментариев:
                            P Новых сообщений нет
                    .menu__first-block__burger__block__icons__cart.menu__first-block__cart
                        a(href='#')
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.25 22.5C11.2165 22.5 12 21.7165 12 20.75C12 19.7835 11.2165 19 10.25 19C9.2835 19 8.5 19.7835 8.5 20.75C8.5 21.7165 9.2835 22.5 10.25 22.5Z" fill="black"/><path d="M18.75 22.5C19.7165 22.5 20.5 21.7165 20.5 20.75C20.5 19.7835 19.7165 19 18.75 19C17.7835 19 17 19.7835 17 20.75C17 21.7165 17.7835 22.5 18.75 22.5Z" fill="black"/><path d="M2.5 3L7 6L9.5 17H19.5L22 8.5H12.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.5 13H16.1364H20.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                .menu__first-block__burger__block__user-profile.menu__first-block__user-profile
                    a(href="#")
                        img(src='assets/img/ProfileLogo.png')
                    a(href="#")
                        p Top Waifu
        .menu__first-block__notification
            a(href='#')#notification-activator
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"/><path d="M2 19H22M5 19V9C5 5.134 8.134 2 12 2C15.866 2 19 5.134 19 9V19H5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 22C13.3807 22 14.5 20.8807 14.5 19.5V19H9.5V19.5C9.5 20.8807 10.6193 22 12 22Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                .notification-alert
                    span 1
            .menu__first-block__notification__modal#notification-activator-modal
                p Количество новых подписчиков:
                p Количество новых оценок:
                p Количество новых комментариев:
                P Новых сообщений нет
        .menu__first-block__cart
            a(href='#')
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.25 22.5C11.2165 22.5 12 21.7165 12 20.75C12 19.7835 11.2165 19 10.25 19C9.2835 19 8.5 19.7835 8.5 20.75C8.5 21.7165 9.2835 22.5 10.25 22.5Z" fill="black"/><path d="M18.75 22.5C19.7165 22.5 20.5 21.7165 20.5 20.75C20.5 19.7835 19.7165 19 18.75 19C17.7835 19 17 19.7835 17 20.75C17 21.7165 17.7835 22.5 18.75 22.5Z" fill="black"/><path d="M2.5 3L7 6L9.5 17H19.5L22 8.5H12.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.5 13H16.1364H20.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        .menu__first-block__user-profile
            a(href="#")
                img(src='assets/img/ProfileLogo.png')
            a(href="#")
                p Top Waifu
    .menu__second-block.container
        ul
            li
                a(href='#') Wallpapers
            li
                a(href='#') 3D Renders
            li
                a(href='#') Textures & Patterns
            li
                a(href='#') Architecture
            li
                a(href='#') Current Events
            li
                a(href='#') Experimental
            li
                a(href='#') Nature
            li
                a(href='#') Fashion
            li
                a(href='#') Film
            li
                a(href='#') Food & Drink
    .menu__third-block
        a(href='#')
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9999 0.333374C10.2635 0.333374 9.66658 0.930334 9.66658 1.66671V9.66671H1.66659C0.930212 9.66671 0.333252 10.2636 0.333252 11C0.333252 11.7364 0.930212 12.3334 1.66659 12.3334H9.66658V20.3334C9.66658 21.0698 10.2635 21.6667 10.9999 21.6667C11.7363 21.6667 12.3333 21.0698 12.3333 20.3334V12.3334H20.3333C21.0697 12.3334 21.6666 11.7364 21.6666 11C21.6666 10.2636 21.0697 9.66671 20.3333 9.66671H12.3333V1.66671C12.3333 0.930334 11.7363 0.333374 10.9999 0.333374Z" fill="black"/></svg>
        a(href='#')
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M16.0001 29.3333C19.6819 29.3333 23.0153 27.8409 25.4281 25.428C27.841 23.0152 29.3334 19.6818 29.3334 16C29.3334 12.3181 27.841 8.98476 25.4281 6.57187C23.0153 4.15901 19.6819 2.66663 16.0001 2.66663C12.3182 2.66663 8.98488 4.15901 6.57199 6.57187C4.15913 8.98476 2.66675 12.3181 2.66675 16C2.66675 19.6818 4.15913 23.0152 6.57199 25.428C8.98488 27.8409 12.3182 29.3333 16.0001 29.3333Z" stroke="black" stroke-width="2" stroke-linejoin="round"/><path d="M16 19.0833V16.4166C18.2091 16.4166 20 14.6258 20 12.4166C20 10.2075 18.2091 8.41663 16 8.41663C13.7909 8.41663 12 10.2075 12 12.4166" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.9999 25.0833C16.9204 25.0833 17.6666 24.3371 17.6666 23.4167C17.6666 22.4962 16.9204 21.75 15.9999 21.75C15.0795 21.75 14.3333 22.4962 14.3333 23.4167C14.3333 24.3371 15.0795 25.0833 15.9999 25.0833Z" fill="black"/></svg>


