//-
    Вёрстка модального окна для незарегистрированных пользователей
.unregistred-modal
    .unregistred
        .unregistred__block
            .unregistred__block__description
                h2 Зарегистрируйтесь, чтобы находить больше идей
            .unregistred__block__form
                .reg
                    .reg__block
                        .reg__block__form
                            h2 Создание аккаунта
                            .auth__block__form__input
                                p Логин
                                input(
                                    type='text'
                                )
                            .auth__block__form__input
                                p Логин
                                input(
                                    type='text'
                                )
                            .auth__block__form__input
                                p Пароль
                                input(
                                    type='password'
                                )
                            .auth__block__form__auth-button
                                a(href='#') Создать аккаунт
                            .auth__block__form__sn
                                p Или зарегистрируйтесь с помощью
                                .auth__block__form__sn__icons
                                    a(href='#') Google
                                    a(href='#') VK
                                    a(href='#') Facebook
                            .auth__block__form__reg-button
                                a(href='#') Войти в существующий аккаунт
                            .auth__block__form__button
                                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="17.8569" width="3.03042" height="25.2535" transform="rotate(45 17.8569 0)" fill="black"/><rect x="0.00147247" y="2.14258" width="3.03042" height="25.2535" transform="rotate(-45 0.00147247 2.14258)" fill="black"/></svg>
