//-
    Вёрстка модального окна для незарегистрированных пользователей
.unregistred-modal
    .unregistred
        .unregistred__block
            .unregistred__block__description
                h2 Зарегистрируйтесь, чтобы находить больше идей
            .unregistred__block__form
                .reg
                    .reg__block
                        .reg__block__form
                            h2 Создание аккаунта
                            .auth__block__form__input
                                p Логин
                                input(
                                    type='text'
                                )
                            .auth__block__form__input
                                p Логин
                                input(
                                    type='text'
                                )
                            .auth__block__form__input
                                p Пароль
                                input(
                                    type='password'
                                )
                            .auth__block__form__auth-button
                                a(href='#') Создать аккаунт
                            .auth__block__form__sn
                                p Или зарегистрируйтесь с помощью
                                .auth__block__form__sn__icons
                                    a(href='#') Google
                                    a(href='#') VK
                                    a(href='#') Facebook
                            .auth__block__form__reg-button
                                a(href='#') Войти в существующий аккаунт