
<div class="unregistred-modal">
  <div class="unregistred">
    <div class="unregistred__description">
      <h2>Зарегистрируйтесь, чтобы находить больше идей</h2>
    </div>
    <div class="unregistred__form">
      <div class="reg">
        <div class="reg__block">
          <div class="reg__block__form">
            <h2>Создание аккаунта</h2>
            <div class="auth__block__form__input">
              <p>Логин</p>
              <input type="text"/>
            </div>
            <div class="auth__block__form__input">
              <p>Логин</p>
              <input type="text"/>
            </div>
            <div class="auth__block__form__input">
              <p>Пароль</p>
              <input type="password"/>
            </div>
            <div class="auth__block__form__auth-button"><a href="#">Создать аккаунт</a></div>
            <div class="auth__block__form__sn">
              <p>Или зарегистрируйтесь с помощью</p>
              <div class="auth__block__form__sn__icons"><a href="#">Google</a><a href="#">VK</a><a href="#">Facebook</a></div>
            </div>
            <div class="auth__block__form__reg-button"><a href="#">Войти в существующий аккаунт</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>