<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="theme-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:description" content="">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="manifest" href="manifest.json" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">
  </head>
  <body>
    <div id="app">
      <div class="menu">
        <div class="menu__first-block"><a class="menu__first-block__logo">
            <p>Era</p></a>
          <div class="menu__first-block__description">
            <p>Лента</p>
          </div>
          <div class="menu__first-block__search-box">
            <input type="text" placeholder="Search for something beautiful">
          </div>
          <div class="menu__first-block__notification"><a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"/><path d="M2 19H22M5 19V9C5 5.134 8.134 2 12 2C15.866 2 19 5.134 19 9V19H5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 22C13.3807 22 14.5 20.8807 14.5 19.5V19H9.5V19.5C9.5 20.8807 10.6193 22 12 22Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></a></div>
          <div class="menu__first-block__chat"><a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"/><path d="M22 12C22 17.5229 17.5229 22 12 22C9.01325 22 2 22 2 22C2 22 2 14.5361 2 12C2 6.47715 6.47715 2 12 2C17.5229 2 22 6.47715 22 12Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 9H16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 13H16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 17H12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></a></div>
          <div class="menu__first-block__user-profile"><a href="#"><img src="assets/img/ProfileLogo.png"></a><a href="#">
              <p>Top Waifu</p></a></div>
        </div>
        <div class="menu__second-block container">
          <ul>
            <li><a href="#">Wallpapers</a></li>
            <li><a href="#">3D Renders</a></li>
            <li><a href="#">Textures & Patterns</a></li>
            <li><a href="#">Architecture</a></li>
            <li><a href="#">Current Events</a></li>
            <li><a href="#">Experimental</a></li>
            <li><a href="#">Nature</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Food & Drink</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="assets/scripts/main.min.js"></script>
  </body>
</html>