extends ../layouts/master

block title
  link(rel="stylesheet", href="assets/css/styles.min.css")

block content
  include ../includes/modules/menu
  .container
    .main.main-first
      block content
        include ../includes/modules/picturePage
  include ../includes/modules/photoModal
  include ../includes/modules/addPhoto



block scripts
  script(src="assets/scripts/main.min.js")
