extends ../layouts/master


block title
    link(rel="stylesheet", href="assets/css/styles.min.css")

block content
    include ../includes/modules/menu

    include ../includes/modules/unregistered
        //-
            выше модальное окно для незарегистрированных пользователей

    .container
        .uiKit
            .main__page__picture
                a(href="#")
                    img(src='assets/img/testImg.png')
                    .main__page__picture__hidden-info
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M8 18C9.10457 18 10 17.1046 10 16C10 14.8954 9.10457 14 8 14C6.89543 14 6 14.8954 6 16C6 17.1046 6.89543 18 8 18Z" fill="white"/><path d="M16 18C17.1046 18 18 17.1046 18 16C18 14.8954 17.1046 14 16 14C14.8954 14 14 14.8954 14 16C14 17.1046 14.8954 18 16 18Z" fill="white"/><path d="M24 18C25.1046 18 26 17.1046 26 16C26 14.8954 25.1046 14 24 14C22.8954 14 22 14.8954 22 16C22 17.1046 22.8954 18 24 18Z" fill="white"/></svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M23.3333 10.6667C25.1743 10.6667 26.6667 9.17427 26.6667 7.33333C26.6667 5.49239 25.1743 4 23.3333 4C21.4924 4 20 5.49239 20 7.33333C20 9.17427 21.4924 10.6667 23.3333 10.6667Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M8.66659 19.3334C10.5075 19.3334 11.9999 17.841 11.9999 16.0001C11.9999 14.1591 10.5075 12.6667 8.66659 12.6667C6.82565 12.6667 5.33325 14.1591 5.33325 16.0001C5.33325 17.841 6.82565 19.3334 8.66659 19.3334Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M20.0001 9.04956L11.5593 14.1635" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.5593 17.7092L20.4529 22.9646" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M23.3333 21.3333C25.1743 21.3333 26.6667 22.8257 26.6667 24.6666C26.6667 26.5075 25.1743 27.9999 23.3333 27.9999C21.4924 27.9999 20 26.5075 20 24.6666C20 22.8257 21.4924 21.3333 23.3333 21.3333Z" stroke="white" stroke-width="2" stroke-linejoin="round"/></svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.33325 5.33333C3.33325 4.59695 3.93021 4 4.66659 4H12.6666L15.9999 8H27.3333C28.0697 8 28.6666 8.59693 28.6666 9.33333V26.6667C28.6666 27.4031 28.0697 28 27.3333 28H4.66659C3.93021 28 3.33325 27.4031 3.33325 26.6667V5.33333Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M14.0001 15.3333L10.6667 18.6666L14.0001 21.9999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.6667 18.6667H21.3334V14.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M10.0001 5.33325C5.94999 5.33325 2.66675 8.61652 2.66675 12.6666C2.66675 19.9999 11.3334 26.6666 16.0001 28.2174C20.6667 26.6666 29.3334 19.9999 29.3334 12.6666C29.3334 8.61652 26.0501 5.33325 22.0001 5.33325C19.5199 5.33325 17.3272 6.56452 16.0001 8.44912C14.6729 6.56452 12.4803 5.33325 10.0001 5.33325Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                a(href="#")
                    p Caption caption
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"/></svg>

            .main__page__picture
                a(href="#")
                    img(src='assets/img/testImg2.png')
                    .main__page__picture__hidden-info
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M8 18C9.10457 18 10 17.1046 10 16C10 14.8954 9.10457 14 8 14C6.89543 14 6 14.8954 6 16C6 17.1046 6.89543 18 8 18Z" fill="white"/><path d="M16 18C17.1046 18 18 17.1046 18 16C18 14.8954 17.1046 14 16 14C14.8954 14 14 14.8954 14 16C14 17.1046 14.8954 18 16 18Z" fill="white"/><path d="M24 18C25.1046 18 26 17.1046 26 16C26 14.8954 25.1046 14 24 14C22.8954 14 22 14.8954 22 16C22 17.1046 22.8954 18 24 18Z" fill="white"/></svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M23.3333 10.6667C25.1743 10.6667 26.6667 9.17427 26.6667 7.33333C26.6667 5.49239 25.1743 4 23.3333 4C21.4924 4 20 5.49239 20 7.33333C20 9.17427 21.4924 10.6667 23.3333 10.6667Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M8.66659 19.3334C10.5075 19.3334 11.9999 17.841 11.9999 16.0001C11.9999 14.1591 10.5075 12.6667 8.66659 12.6667C6.82565 12.6667 5.33325 14.1591 5.33325 16.0001C5.33325 17.841 6.82565 19.3334 8.66659 19.3334Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M20.0001 9.04956L11.5593 14.1635" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.5593 17.7092L20.4529 22.9646" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M23.3333 21.3333C25.1743 21.3333 26.6667 22.8257 26.6667 24.6666C26.6667 26.5075 25.1743 27.9999 23.3333 27.9999C21.4924 27.9999 20 26.5075 20 24.6666C20 22.8257 21.4924 21.3333 23.3333 21.3333Z" stroke="white" stroke-width="2" stroke-linejoin="round"/></svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.33325 5.33333C3.33325 4.59695 3.93021 4 4.66659 4H12.6666L15.9999 8H27.3333C28.0697 8 28.6666 8.59693 28.6666 9.33333V26.6667C28.6666 27.4031 28.0697 28 27.3333 28H4.66659C3.93021 28 3.33325 27.4031 3.33325 26.6667V5.33333Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M14.0001 15.3333L10.6667 18.6666L14.0001 21.9999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.6667 18.6667H21.3334V14.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M10.0001 5.33325C5.94999 5.33325 2.66675 8.61652 2.66675 12.6666C2.66675 19.9999 11.3334 26.6666 16.0001 28.2174C20.6667 26.6666 29.3334 19.9999 29.3334 12.6666C29.3334 8.61652 26.0501 5.33325 22.0001 5.33325C19.5199 5.33325 17.3272 6.56452 16.0001 8.44912C14.6729 6.56452 12.4803 5.33325 10.0001 5.33325Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                a(href="#")
                    p Caption caption
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"/></svg>

            .main__page__picture
                a(href="#")
                    img(src='assets/img/testImg3.png')
                    .main__page__picture__hidden-info
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M8 18C9.10457 18 10 17.1046 10 16C10 14.8954 9.10457 14 8 14C6.89543 14 6 14.8954 6 16C6 17.1046 6.89543 18 8 18Z" fill="white"/><path d="M16 18C17.1046 18 18 17.1046 18 16C18 14.8954 17.1046 14 16 14C14.8954 14 14 14.8954 14 16C14 17.1046 14.8954 18 16 18Z" fill="white"/><path d="M24 18C25.1046 18 26 17.1046 26 16C26 14.8954 25.1046 14 24 14C22.8954 14 22 14.8954 22 16C22 17.1046 22.8954 18 24 18Z" fill="white"/></svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M23.3333 10.6667C25.1743 10.6667 26.6667 9.17427 26.6667 7.33333C26.6667 5.49239 25.1743 4 23.3333 4C21.4924 4 20 5.49239 20 7.33333C20 9.17427 21.4924 10.6667 23.3333 10.6667Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M8.66659 19.3334C10.5075 19.3334 11.9999 17.841 11.9999 16.0001C11.9999 14.1591 10.5075 12.6667 8.66659 12.6667C6.82565 12.6667 5.33325 14.1591 5.33325 16.0001C5.33325 17.841 6.82565 19.3334 8.66659 19.3334Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M20.0001 9.04956L11.5593 14.1635" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.5593 17.7092L20.4529 22.9646" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M23.3333 21.3333C25.1743 21.3333 26.6667 22.8257 26.6667 24.6666C26.6667 26.5075 25.1743 27.9999 23.3333 27.9999C21.4924 27.9999 20 26.5075 20 24.6666C20 22.8257 21.4924 21.3333 23.3333 21.3333Z" stroke="white" stroke-width="2" stroke-linejoin="round"/></svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.33325 5.33333C3.33325 4.59695 3.93021 4 4.66659 4H12.6666L15.9999 8H27.3333C28.0697 8 28.6666 8.59693 28.6666 9.33333V26.6667C28.6666 27.4031 28.0697 28 27.3333 28H4.66659C3.93021 28 3.33325 27.4031 3.33325 26.6667V5.33333Z" stroke="white" stroke-width="2" stroke-linejoin="round"/><path d="M14.0001 15.3333L10.6667 18.6666L14.0001 21.9999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.6667 18.6667H21.3334V14.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M10.0001 5.33325C5.94999 5.33325 2.66675 8.61652 2.66675 12.6666C2.66675 19.9999 11.3334 26.6666 16.0001 28.2174C20.6667 26.6666 29.3334 19.9999 29.3334 12.6666C29.3334 8.61652 26.0501 5.33325 22.0001 5.33325C19.5199 5.33325 17.3272 6.56452 16.0001 8.44912C14.6729 6.56452 12.4803 5.33325 10.0001 5.33325Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                a(href="#")
                    p Caption caption
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"/></svg>











block scripts
    script(src="assets/scripts/main.min.js")
